@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display|Raleway|Ubuntu+Mono');

/*
* {
  border: 1px solid #f1f1f1;
}
*/

html {
  height:100%;
}

body, html {
  display:flex;
  max-width: 900px;
  margin: auto;
  color: white;
  background-color: #131313;
  background-image: url("https://smolglace.github.io/smol-startpage/chibi Mei Float.png");
  background-position: center;
  background-size: 30%;
  background-repeat: no-repeat;
}

@media(min-width: 570px){
  div.container {
  display: flex;
  flex:1;
  }
}

@media(max-width:450px){
  div.container {
  display:flex;
  flex-direction: column;
  }
  
  body {
  background-image: url(https://smolglace.github.io/smol-startpage/bg.jpg);
  background-position: center;
  background-size: 30%;
  background-repeat: no-repeat;
  }
}

#link {
  display:flex;
  align-items: center;
  flex-basis: 15%;
  justify-content: space-around;
}

i {
  margin:auto;
  width: 50px;
  padding: 0.3em;
}

.btn {
  color: white;
  font-family: "Ubuntu Mono", "Courier-New", monospace;
  font-size: 15px;
  padding: 0.5em 1em;
  margin: 5px;
  transition: 0.2s;
}

.btn:hover {
  opacity: 1;
  background-color: #999;
}


.container {
  border: 1px solid;
  border-radius: 10px;
  color: white;
  font-size: 30px;
  text-shadow: 4px 4px 5px #000;
  font-family: "Major Mono Display", "Trebuchet MS", sans-serif;
  padding: 0.3em;
  
}

.container > div:nth-child(1) {
  background-color: rgba(0, 200, 250, 0.1);
  border-style: hidden hidden hidden solid;
  border-color: cyan;
  border-width: 5px;
  
}
.container > div:nth-child(2) {
  background-color: rgba(200, 0, 200, 0.1);
  border-style: hidden hidden hidden solid;
  border-color: magenta;
  border-width: 5px;
 }
.container > div:nth-child(3) {
  background-color: rgba(0, 200, 0, 0.1);
  border-style: hidden hidden hidden solid;
  border-color: #76FF03;
  border-width: 5px;
}
